*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-areas: "Header" "Main" "Footer";
  grid-template-rows: min-content auto min-content;
  min-height: 100%;
}
#root{
  height: 100%;
}
@media (max-width:570px){
  h1{
    font-size: 24px;
  }
}
@media (min-width:1000px){
  h1,a{
    font-size: 36px;
  }
  input{
    font-size: 26px;
  }
}
